body {
    padding: 5%;
    background-image: url("background.jpg");
    background-size:100%;

}
h1{
  background-color: white;
padding: 10px;
width: 300px;
opacity: .8;
border-radius: 25px;
}
.toggle-div{
  background-color: white;
opacity: .8;
border-radius: 25px;
}
p{
  display: inline-block;
}
li{
  display:block;
}
#map {
    height: 500px;
    width: 100%;
    padding: 0;
    margin: 0;
}
#address-form{
  width: 500px;
}
.search{
  display: flex;
}
.toggle-button {
    background-color: white;
    margin: 5px 0;
    border-radius: 20px;
    border: 2px solid #D0D0D0;
    height: 24px;
    cursor: pointer;
    width: 50px;
    position: relative;
    display: inline-block;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}
.toggle-button button {
    cursor: pointer;
    outline: 0;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    background-color: white;
    float: left;
    margin: -3px 0 0 -3px;
    border: 2px solid #D0D0D0;
    transition: left 0.3s;
}
.toggle-button-selected {
    background-color: #83B152;
}

.plum {
  background-color: purple;
}

.cherry{
  background-color:#ab253d;
}
.ginko{
  background-color: #25ab42;
}
.coffee{
  background-color: #f9b30a;
}
.cornelian-cherry{
  background-color: #b41111;
}
.chinese-chestnut{
  background-color: #35a2cc;
}


.toggle-button-selected button {
    left: 26px;
    top: 0;
    margin: 0;
    border: none;
    width: 24px;
    height: 24px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}
